
</main>
<footer class="align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center flex-wrap-sm text-center">
        <span class="text-center text-muted">&copy; Copyright <%= new Date().getFullYear() %></span>
        <span class="text-center text-muted ms-2">@cdevelopment010</span>
    </div>
</footer>
</body>
</html>
