<%- include('./partials/header') -%>
<h1 class="text-primary">Welcome!</h1>

<p class="mt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ullam quibusdam quod praesentium voluptatibus suscipit rerum enim molestias quas officia temporibus harum iste, nulla aut deleniti tenetur eligendi recusandae magnam!</p>

<h2 class="mt-4 text-primary">Popular Pets</h2>
    <div class="d-grid grid-col-auto-300 mt-3 gap-3">
    <% if(popularPets.length) { %>
        <% popularPets.forEach((data,index) => { %>
            <div key="popularPet-<%=index%>" class="">
                <%- include('./partials/card', {pets: [data] }) %>
            </div>
        <% }) %>  
    <% } else {%>
        <div class="flex" style="text-align: center;">
            <h3 class="text-danger" style="font-size: 5rem;">Oh no!</h3>
            <p><strong>Looks like we don't have any popular pets...</strong></p>
        </div>
    <% } %>
    </div>
<%- include('./partials/footer') -%>
